<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css')}}">
    <title>Clínica</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/pacientes">Pacientes</a>
                </li>
                <li>
                    <a href="/consultas">Consultas</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main> 
</body>
</html>